.main-container {
    width: 100%;
}

.page-header {
    background-color: #263238;
    vertical-align: middle;
}

.title-text {
    color: #fff;
    font-size: 18px;
}

.page-body {
    width: 100%;
}